name: slide_to_act
description: A simple slide-to-action widget for Flutter. It's really customizable and it adapts to your theme.
version: 0.1.2
homepage: https://github.com/imtoori/flutter-slide-to-act

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
